body {
    margin: 0;
}

#top-container {
    height: 30px;
    display: flex;
    justify-content: flex-end;
}

#top-container a {
    padding-right: 20px;
    position: relative;
    top: 30%;
}
#center-container   {
    margin-top: 222px;
    background-color: aqua;
    
}
#google-logo {
    height: auto;
    text-align: center;
}